<div class="gallery-item">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of imagens">
        <div class="img-fluid" *ngIf="categoriaSelecionada === item.categoria">
          <img class="img-fluid" [src]="item.url" alt="Imagem" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="error-card" *ngIf="notificationService.error$ | async as hasError">
  <div class="card">
    <i class="bi bi-emoji-frown" style="font-size: 48px; color: red;"></i>
    <div class="card-body">
      <p class="card-text">{{ notificationService.errorMessage$ | async }}</p>
    </div>
  </div>
</div>







