footer {
  background: linear-gradient(#5f5858,#3d3939); /* Cor de fundo atual */
  color: white; /* Cor do texto branco */
  padding: 0px; /* Espaçamento interno */
  text-align: center; /* Centralizar o conteúdo */
  position: fixed; /* Tornar o rodapé fixo */
  bottom: 0; /* Fixar o rodapé na parte inferior da janela */
  width: 100%; /* Largura total */
}
