 * {
  padding: 0;
}

.container-fluid {
  background: linear-gradient(#3d3939, #5f5858);
  padding: 5px; /* Espaçamento interno */
  text-align: center; /* Centralizar o conteúdo */
  position: fixed; /* Tornar o rodapé fixo */
  top: 0; /* Fixar o rodapé na parte inferior da janela */
  width: 100%; /* Largura total */

}

.collapse navbar-collapse{
  word-spacing:50rem;
}

.nav-link{
  color: white;
 /*  word-spacing: 1rem; */
}

.navbar-brand{
  color: white;
}

/*  :host {
  nav {
    background-color: var(--primary);
    width: 100%;
    height: 50px;
    padding: 0 20px;

    &,
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
    }

    ul {
      li {
        padding: 0 15px 0 0;
        font-weight: 700;
        font-size: 12px;

        &,
        a {
          color: var(--text-menu);
        }

        &:last-child {
          padding: 0;
          button {
            img {
              width: 21px;
            }
          }
        }
      }
    }
  }
} */
