<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item">
          <a class="nav-link">ANDEJO</a>
        </li>
        <li class="nav-item">
          <i class="bi bi-globe-americas" style="color: white"></i>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/arts']" [queryParams]="{ categoria: 'DESTAQUES' }">Destaques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/arts']" [queryParams]="{ categoria: 'GALERIA' }">Galeria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/arts']" [queryParams]="{ categoria: 'VERSOES' }">Versões</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/arts']" [queryParams]="{ categoria: 'AUTORAIS' }">Autorais</a>
        </li>
        <li class="nav-item">
          <a class= "nav-link" [routerLink]="['/arts']" [queryParams]="{ categoria: 'RASCUNHO' }">Rascunhos</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button
          type="button"
          (click)="toggle()"
        >
          <img
            src="~/../assets/image/darkLigth/{{ icon }}.svg"
            alt="Click e troque {{ textTheme }}"
          />
        </button>
      </form>
    </div>
  </div>
</nav>
